.modal-dialog {
  margin: 50px 0px !important;
  width: 100% !important;
}

.software-parameter-info {
  vertical-align: middle;
  color: #cbcbcb;
}
.software-parameter-info:hover{
  color: orange;
}

.handsontable .cell_valid {
  background: #d4edda;
}
.handsontable .cell_with_warning {
  background: #fff3cd;
}
.handsontable .cell_with_error {
  background: #f8d7da;
}