footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:12px;   
  color: black;
  background-color: rgba(0,0,0,.3);
  z-index: 1000;
  font-size: 0.7em;
  text-align: right;
  padding-right:20px;
  padding-bottom: 16px;
}

div.datatables {
  color: inherit !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: inherit !important;
}

.selectize-dropdown-content .option {
  display: flex;
  align-items: center;
}
.selectize-dropdown-content .option img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.selectize-input.items .item {
  display: flex;
  align-items: center;
}
.selectize-input.items .item img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.modal-dialog {
  margin: 50px 0px !important;
  width: 100% !important;
}

.software-parameter-info {
  vertical-align: middle;
  color: #cbcbcb;
}
.software-parameter-info:hover{
  color: orange;
}

.handsontable .cell_valid {
  background: #d4edda;
}
.handsontable .cell_with_warning {
  background: #fff3cd;
}
.handsontable .cell_with_error {
  background: #f8d7da;
}